
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff;
}

#chart-container {
  height: 650px;
}

#indicatorForm {
  h5 {
    font-weight: 600;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 10px;
  }

  label {
    font-weight: 400;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

#indicatorNavPanel {
  &.list-nav {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;

    & > li {
      display: inline-block;
    }
  }
}

.img-ok {
  display: none;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 10%;
}

.modal-backdrop.in {
  opacity: 0;
}


