body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff; }

body, html {
  height: 100%; }

#chart-container {
  height: 600px;
  min-height: 600px; }

#indicatorForm h5 {
  font-weight: 600;
  margin-bottom: 5px; }

#indicatorForm p {
  margin-bottom: 10px; }

#indicatorForm label {
  font-weight: 400; }

#indicatorForm input::-webkit-outer-spin-button,
#indicatorForm input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

#indicatorNavPanel {
  font-size: 0;
  display: table; }
  #indicatorNavPanel.list-nav {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px; }
    #indicatorNavPanel.list-nav > li {
      display: inline-block;
      margin-right: 5px; }

.anychart-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #fff; }
  .anychart-loader .rotating-cover {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -35px; }
  .anychart-loader .rotating-plane {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    border: 5px solid #1c75ba;
    margin: 0 auto;
    position: relative;
    animation: rotateplane 3s infinite; }
  .anychart-loader .chart-row {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 10px;
    letter-spacing: -3px;
    line-height: 0;
    font-size: 0;
    white-space: nowrap; }
    .anychart-loader .chart-row .chart-col {
      display: inline-block;
      width: 25%;
      height: 90%;
      background: #000;
      margin: 0 12.5% 0 0;
      vertical-align: bottom; }
    .anychart-loader .chart-row .chart-col.green {
      background: #26a957;
      height: 50%;
      animation: blinkplane 1.5s infinite; }
    .anychart-loader .chart-row .chart-col.orange {
      background: #ff8207;
      height: 70%;
      animation: blinkplane 1.5s infinite 0.25s; }
    .anychart-loader .chart-row .chart-col.red {
      background: #f0402e;
      height: 90%;
      animation: blinkplane 1.5s infinite 0.5s; }

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    opacity: 1; }
  25% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    opacity: 0.3; }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    opacity: 1; }
  75% {
    transform: perspective(120px) rotateX(0deg) rotateY(-180.1deg);
    opacity: 0.3; }
  100% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    opacity: 1; } }

@keyframes blinkplane {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 1200px) {
  #indicatorNavPanel > li {
    margin-bottom: 10px; } }

@media screen and (max-width: 769px) {
  #indicatorNavPanel.list-nav > li {
    display: block; }
  #indicatorNavPanel.list-nav div.select.bootstrap-select {
    width: 100% !important; }
  #indicatorNavPanel #resetButton {
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 0 auto; } }
