@media screen and (min-width: 1200px) {
  #indicatorNavPanel {
    position: absolute;
    top: 0;
    left: 0;
  }

  #chart-container {
    padding-top: 54px;
    height: 100%;
  }
}

@media screen and (max-width: 1200px) {
  #indicatorNavPanel {
    & > li {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 769px) {
  #indicatorNavPanel {
    display: block;

    &.list-nav {
      & > li {
        display: block;
      }
      & div.select.bootstrap-select {
        width: 100% !important;
      }
    }

    #resetButton {
      display: block;
      width: 100%;
      max-width: 150px;
      margin: 0 auto;
    }
  }
}